body{
    font-family: Arial;
    background: linear-gradient(135deg,#5b21b6,#7c3aed);

    display:flex;
    justify-content:center;
    align-items:center;

    min-height:100vh;
}

.contenedor{

    background:white;

    padding:40px;

    border-radius:20px;

    width:400px;

    box-shadow:0 5px 20px rgba(0,0,0,.2);
}

h1{
    text-align:center;
    color:#5b21b6;
}

input{

    width:100%;

    padding:15px;

    margin:10px 0;

    border:1px solid #ccc;

    border-radius:10px;
}

button{

    width:100%;

    padding:15px;

    border:none;

    background:#5b21b6;

    color:white;

    border-radius:10px;

    cursor:pointer;
}

button:hover{

    background:#4c1d95;
}

a{
    display:block;

    text-align:center;

    margin-top:20px;
}

#mensaje{

    text-align:center;

    font-weight:bold;

    margin-top:15px;
}